# HTTP server
HOST=localhost
PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Authentication
TOKEN=generate-a-random-secret-at-least-32-bytes
REFRESH_COOKIE_SECURE=true,


# Database connection 
DATABASE_URL=postgres://postgres:123789456@localhost:5400/link?sslmode=disable

# PostgreSQL started by docker-compose.yml
POSTGRES_DATA_PATH=./postgres-data
POSTGRES_PASSWORD=123789456
POSTGRES_DB=link

# Goose migration tool
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:123789456@localhost:5400/link?sslmode=disable
GOOSE_MIGRATION_DIR=./db/migrations
