# HTTP server
HOST=localhost
PORT=8081

# Authentication
TOKEN=change-me

# PostgreSQL started by docker-compose.yml
DSN=host=localhost user=postgres password=123789456 dbname=link port=5400 sslmode=disable
POSTGRES_DATA_PATH=C:/Users/User/postgres/data
POSTGRES_PASSWORD=123789456

#Goose migration tool
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:123789456@localhost:5400/link?sslmode=disable
GOOSE_MIGRATION_DIR=./db/migrations