# HTTP server
HOST=localhost
PORT=8081

# Authentication
TOKEN=change-me

# Database connection 
DATABASE_URL=postgres://postgres:123789456@localhost:5400/link?sslmode=disable

# PostgreSQL started by docker-compose.yml
POSTGRES_DATA_PATH=./postgres-data
POSTGRES_PASSWORD=123789456
POSTGRES_DB=link

# Goose migration tool
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:123789456@localhost:5400/link?sslmode=disable
GOOSE_MIGRATION_DIR=./db/migrations
